@use "../conf";
@use "../colours";

.Changelog {
  & h2 {
    text-align: left;
    color: colours.$content-medium;
    & strong {
      font-weight: unset;
      color: colours.$content-dark;
    }
  }
}
