@use "../conf";
@use "../colours";

.LogInput {
  margin-bottom: conf.raster(12);
  gap: conf.raster(1);
  form {
    & .input-fields-row {
      background: colours.$content-bg-light;
      @media screen and (min-width: conf.$bp-main) {
        background: unset;
      }
      & .field-small {
        flex: 1 1 15%;
      }
      & .field-large {
        flex: 1 1 20%;
      }
      & .field-x-large {
        flex: 1 1 30%;
      }
      & button {
        @media screen and (min-width: conf.$bp-main) {
          min-height: unset;
        }
      }
      & .button-container > * {
        @media screen and (min-width: conf.$bp-main) {
          border-radius: 0 conf.$roundness conf.$roundness 0;
        }
      }
    }
    & label {
      & span {
        border-top: conf.raster(1) solid colours.$content-bg-dark;
        @media screen and (min-width: conf.$bp-main) {
          border-top: unset;
        }
      }
    }
    & label:first-child span {
      border-top: unset;
    }
    & input,
    & select {
      display: inline-block;
    }
    & #date {
      // Only date input respects line-height
      line-height: normal;
    }
    & label:first-child input {
      @media screen and (min-width: conf.$bp-main) {
        border-radius: conf.$roundness 0 0 conf.$roundness;
      }
    }
  }
}
