$sweatless-primary: hsl(34, 93%, 61%);
$sweatless-secondary: white;
$sweatless-tertiary: hsl(19, 10%, 50%);

$site-bg-light: hsl(25, 48%, 89%);
$site-bg-medium: hsl(25, 24%, 80%);

$site-btn-ind: hsl(100, 0%, 80%);
$site-btn-pri: hsl(212, 46%, 42%);
$site-btn-sec: hsl(25, 90%, 40%);
$site-btn-ter: hsl(118, 94%, 26%);

$content-bg-light: hsla(212, 55%, 98%, 1);
$content-bg-dark: hsla(212, 45%, 93%, 1);
$content-bg-extra-dark: hsla(212, 45%, 70%, 1);

$content-light: hsl(25, 56%, 60%);
$content-medium: hsl(24, 38%, 47%);
$content-dark: hsl(240, 5%, 45%);

$content-text-light: white;
$content-text-medium: hsl(36, 80%, 18%);
$content-text-dark: hsl(21, 22%, 21%);

$content-error: hsl(12, 96%, 40%);
