@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
    url("../assets/fonts/subset-FiraSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/subset-FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium Italic"), local("FiraSans-MediumItalic"),
    url("../assets/fonts/subset-FiraSans-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/subset-FiraSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Semi Bold"), local("FiraSans-SemiBold"),
    url("../assets/fonts/subset-FiraSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/subset-FiraSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), local("FiraSans-Bold"),
    url("../assets/fonts/subset-FiraSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/subset-FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold Italic"), local("FiraSans-BoldItalic"),
    url("../assets/fonts/subset-FiraSans-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/subset-FiraSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
