@use "../conf";
@use "../colours";

.SettingsBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  @include conf.content-ui-block();
  background: colours.$content-bg-dark;
  & .wrapper {
    margin: 0 auto;
    padding: conf.raster(1);
    & > * {
      max-width: conf.$content-max-width;
    }
  }
  & .button-container {
    flex: 0 0 conf.$button-container-width;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: conf.raster(1);
    @media screen and (min-width: conf.$bp-settings) {
      flex-flow: row nowrap;
    }
    & > * {
      flex: 1 1 100%;
    }
  }
}
